body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 300px;
  margin: 100px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin: 0;
  color: #333;
  font-size: smaller;
  font-weight: 100;
}

.search-container {
  margin-top: 20px;
}

#postcodeInput {
  width: calc(100% - 22px); /* Full width minus padding */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#searchButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: hwb(145 30% 23%);
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #0056b3;
}
